---

import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Badge from '../components/Badge.astro';

---

<Layout title="Porfolio">
	<main>

		<section class=" w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-5xl" >Hey, soy Juan Camilo <Badge>Disponible para ser profesional</Badge></h1>
		<h2>En busca de experiencia. Desarrollador Web. Del sur de colombia en el valle de aburra. Especializado 
			en buscar solciones a problemas reales con codigo limpio y eficiente.
		</h2>

		<ul></ul>
		</section>
	</main>
</Layout>
