<span class="bg-emerald-900 text-amber-50 text-xs font-medium me-2 
px-2.5 py-0.5 rounded hover:bg-lime-300 hover:text-emerald-900
 transition delay-75 hover:scale-110 duration-300 ease-in-out"
>
    <slot />
</span>
