<header class="bg-black/30 rounded-2xl flex justify-center items-center py-5 w-[1120px] mx-auto bg- shadow-xl shadow-emerald-900">

    <nav class="flex space-x-5 flex-row gap-x-10 opacity-80 text-shadow-xs text-shadow-green-200">
        <a href="/" class="px-3 py-1 rounded-full border border-white/5 bg-emerald-950 text-white hover:animate-none hover:bg-lime-300
         hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50
          hover:translate-x-1 hover:scale-110 transition duration-300 ease-in-out animate-pulse ">Inicio</a>

        <a href="/about" class="px-3 py-1 rounded-full border border-white/5 bg-emerald-950 text-white hover:animate-none hover:bg-lime-300
         hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50
          hover:translate-x-1 hover:scale-110 transition duration-300 ease-in-out animate-pulse">Sobre Mi</a>

        <a href="/projects" class="px-3 py-1 rounded-full border border-white/5 bg-emerald-950 text-white hover:animate-none hover:bg-lime-300
         hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50
          hover:translate-x-1 hover:scale-110 transition duration-300 ease-in-out animate-pulse">Proyectos</a>

        <a href="/contact" class="px-3 py-1 rounded-full border border-white/5 bg-emerald-950 text-white hover:animate-none hover:bg-lime-300
         hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50
          hover:translate-x-1 hover:scale-110 transition duration-300 ease-in-out animate-pulse">Contacto</a>
    </nav>

</header>