<header class="rounded-2xl flex justify-center items-center py-5 w-[1120px] mx-auto shadow-xl shadow-emerald-900">

    <nav class="flex space-x-5 flex-row gap-x-10 opacity-80 text-shadow-xs text-shadow-green-200">
        <a href="/" class="px-3 py-1 rounded-xl bg-emerald-950 hover:bg-lime-300 hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50">Home</a>
        <a href="/about" class="px-3 py-1 rounded-xl bg-emerald-950 hover:bg-lime-300 hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50" >About</a>
        <a href="/projects" class="px-3 py-1 rounded-xl bg-emerald-950 hover:bg-lime-300 hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50" >Projects</a>
        <a href="/contact" class="px-3 py-1 rounded-xl bg-emerald-950 hover:bg-lime-300 hover:text-emerald-950 hover:shadow-lg hover:shadow-lime-300/50" >Contact</a>
    </nav>

</header>