<h2>Con experiencia en atencion al cliente y en empresa de tecnologia 
    soy un amante a la programacion y videojuegos. Me gusta estudiar y adquirir nuevos conocimientos diariamente
    La diciplina, dedicacion y esfuerzo son de las virtudes que mas me caracterizan. 
</h2>

